apiVersion: apps/v1
kind: Deployment
metadata:
  name: dev-profile-box-api-user
  labels:
    app: dev-profile-box-api-user
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dev-profile-box-api-user
  template:
    metadata:
      labels:
        app: dev-profile-box-api-user
    spec:
      containers:
      - name: dev-profile-box-api-user
        image: 204770130849.dkr.ecr.ap-northeast-2.amazonaws.com/profile-box-api-user:346d54eb359047a923868cbd472654867974dfcf
        resources:
          limits:
            cpu: "2"
            memory: "512Mi"
          requests:
            cpu: "200m"
            memory: "256Mi"
      imagePullSecrets:
      - name: ecr-secret